body{
	margin:0;
	padding:0;
	//background:url(../call_images/bg_body.png) no-repeat left top;	
}
.main{
  padding: 50px 20px 0 20px!important;
}

.callOverlay{
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.8);
	z-index:9998;
}

/* Call forwarding Start */

.callForward{
	display:blok;
	position:absolute;
	width:264px;
	height:481px;
	padding:15px 15px 15px 0px;
	top:50%;
	left:50%;
	margin:-245px 0px 0px 244px;
	background:#222;
	border:3px solid #000;
	border-radius:0px 12px 12px 0px;
	-moz-border-radius:0px 12px 12px 0px;
	-webkit-border-radius:0px 12px 12px 0px;
	-o-border-radius:0px 12px 12px 0px;
	-ms-border-radius:0px 12px 12px 0px;
	border-left:none;
	z-index:-9999;
	transition:margin 0.5s ease-out;
	-moz-transition:margin 0.5s ease-out;
	-webkit-transition:margin 0.5s ease-out;
	-o-transition:margin 0.5s ease-out;
	-ms-transition:margin 0.5s ease-out;
}

.callForward.hide{
	margin:-243px 0px 0px -15px;
	transition:margin 0.5s ease-out;
	 z-index: -9999;
	-moz-transition:margin 0.5s ease-out;
	-webkit-transition:margin 0.5s ease-out;
	-o-transition:margin 0.5s ease-out;
	-ms-transition:margin 0.5s ease-out;
}

.drager{
	display:block;
	position:absolute;
	background:url(../call_images/drage.png) no-repeat center center;
	width:17px;
	height:32px;
	top:50%;
	right:0;
	margin:-16px -20px 0px 0px;
}

.callFwdContents{
	display:block;
	border-radius:0px 8px 8px 0px;
	-moz-border-radius:0px 8px 8px 0px;
	-webkit-border-radius:0px 8px 8px 0px;
	-o-border-radius:0px 8px 8px 0px;
	-ms-border-radius:0px 8px 8px 0px;
	width:250px;
	height:450px;
	box-shadow:0 0px 2px #000000;
	padding:0px;
	overflow:hidden;
	position:relative;
}

.callFwdContents ul{
	display:block;
	margin:0px;
	padding:3px 10px;
	width:220px;
}

.callFwdContents ul li{
	display:block;
	margin:0;
	padding:0;
	list-style:none;
	
	display:block;
	font:normal 16px/32px Arial, Helvetica, sans-serif;
	color:#333;
	text-decoration:none;
	border-bottom:1px dotted #666;
}

/*.callFwdContents ul li a{
	display:block;
	font:normal 16px/32px Arial, Helvetica, sans-serif;
	color:#333;
	text-decoration:none;
	border-bottom:1px dotted #666;
}*/

.callFwdContents ul li:hover{
	color:#03F;
	cursor:pointer;
}

.extention{
	display:block;
	height:65px;
	background: #636363;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzNjM2MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5MjkyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTMxMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #636363 0%, #383838 50%, #292929 50%, #313131 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636363), color-stop(50%,#383838), color-stop(50%,#292929), color-stop(100%,#313131));
	background: -webkit-linear-gradient(top,  #636363 0%,#383838 50%,#292929 50%,#313131 100%);
	background: -o-linear-gradient(top,  #636363 0%,#383838 50%,#292929 50%,#313131 100%);
	background: -ms-linear-gradient(top,  #636363 0%,#383838 50%,#292929 50%,#313131 100%);
	background: linear-gradient(to bottom,  #636363 0%,#383838 50%,#292929 50%,#313131 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#313131',GradientType=0 );
	padding:10px;
}

.extention span.extFwd{
	display:block;
	height:36px;
	font:normal 16px/18px Arial, Helvetica, sans-serif;
	color:#06F;
	float:left;
	width:168px;
	border:1px solid #222;
	padding:2px 6px;
	background:#f2f2f2;	
	text-align:center;
	line-height:1.5em;	
}

.forward{
	display:block;
	height:40px;
	width:40px;
	float:right;
	cursor:pointer;
}

.forward .fwdBtn{
	display:block;
	height:40px;
	width:40px;
	background:url(../call_images/call_forwarding.png) no-repeat center center transparent;
	border:none;
	padding:0;
	margin:0;
	cursor:pointer;
}

/* Call forwarding End */
/* Call Wrappers of different states */

.callWrapper{
	display:none;
	position:absolute;
	width:494px;
	height:496px;
	padding:3px 15px 15px;
	top:50%;
	left:50%;
	margin:-259px 0px 0px -253px;
	background:#222;
	border:3px solid #000;
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	-o-border-radius:12px;
	-ms-border-radius:12px;
	z-index:9999;
}

.callWrapperminimized{
	display:none;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
	top:96%;
	background: #636363;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzNjM2MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5MjkyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTMxMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #636363 0%, #383838 50%, #292929 50%, #313131 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636363), color-stop(50%,#383838), color-stop(50%,#292929), color-stop(100%,#313131));
	background: -webkit-linear-gradient(top,  #636363 0%,#383838 50%,#292929 50%,#313131 100%);
	background: -o-linear-gradient(top,  #636363 0%,#383838 50%,#292929 50%,#313131 100%);
	background: -ms-linear-gradient(top,  #636363 0%,#383838 50%,#292929 50%,#313131 100%);
	background: linear-gradient(to bottom,  #636363 0%,#383838 50%,#292929 50%,#313131 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#313131',GradientType=0 );
	box-shadow:inset 0px 1px 0px #747474;
	border-top:1px solid #000;
	z-index:1000;
}

.callWrappershaded{
	display:none;
	position:fixed;
	bottom:0;
	right:0;
	width:430px;
	height:30px;
	background: #121212;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMTIxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #121212 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#121212), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #121212 0%,#000000 100%);
	background: -o-linear-gradient(top,  #121212 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #121212 0%,#000000 100%);
	background: linear-gradient(to bottom,  #121212 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#000000',GradientType=0 );
	box-shadow:inset 0px 1px 0px #181818;
	border-top:1px solid #000;
	border-left:1px solid #000;
	z-index:1000;
}

/* Calls Contents Div Under Maximized State */

.callContent{
	display:block;
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #999999 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#999999));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#999999 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#999999 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#999999 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#999999 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#999999',GradientType=0 );
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	height:450px;
	box-shadow:0px 1px 2px #000;
	overflow:hidden;
	clear:both;
}

/* Calls Contents Div Under Minimized State */

.callWrapperminimized .callContent{
	display:block;
	background:none;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
	height:40px;
	box-shadow:none;
	overflow:hidden;
	clear:none;
	float:left;
}

/* Calls Contents Div Under Shaded State */

.callWrappershaded .callContent{
	display:block;
	background:none;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
	height:30px;
	box-shadow:none;
	overflow:hidden;
	clear:none;
	float:left;
}


/* Window Action Buttons Under Maximized State */

.windowActions{
	display:block;
	float:right;
	margin:0px -12px 3px 0px;
	height:22px;
}

.windowActions input[type=button]{
	display:block;
	height:22px;
	width:22px;
	background-image:url(../call_images/windowActions.png);
	background-repeat:no-repeat;
	background-color:transparent;
	float:left;
	border:none;
	margin:0px 0px 0px 3px;
	cursor:pointer;
	padding:0;
}

.windowActions input[type=button]#minimizeOperation{
	background-position:left top;
}

.windowActions input[type=button]#shadeOperation{
	background-position:center top;
}

.windowActions input[type=button]#closeOperation{
	background-position:right top;
}

.windowActions input[type=button]#maximizeOperation{
	background-position:-22px top;
}

.windowActions input[type=button]#shadeMaxOperation{
	background-position:-66px top;
}

.windowActions input[type=button]#minimizeOperation:hover{
	background-position:left bottom;
}

.windowActions input[type=button]#shadeOperation:hover{
	background-position:center bottom;
}

.windowActions input[type=button]#closeOperation:hover{
	background-position:right bottom;
}

.windowActions input[type=button]#maximizeOperation:hover{
	background-position:-22px bottom;
}

.windowActions input[type=button]#shadeMaxOperation:hover{
	background-position:-66px bottom;
}


/* Window Action Under Minimized State */

.callWrapperminimized .windowActions{
	display:block;
	float:right;
	margin:0px;
	height:22px;
	padding:9px 10px;
	background: #121212;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMTIxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #121212 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#121212), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #121212 0%,#000000 100%);
	background: -o-linear-gradient(top,  #121212 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #121212 0%,#000000 100%);
	background: linear-gradient(to bottom,  #121212 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#000000',GradientType=0 );
	box-shadow:inset 0px 1px 0px #181818;

}

/* Window Action Under Shaded State */

.callWrappershaded .windowActions{
	display:block;
	float:right;
	margin:0px;
	height:22px;
	padding:4px;
	background: none;
	box-shadow:none;

}

/* Call Header Under Minimized State */

.callStatus,
.callAction{
	display:block;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhN2E3YSIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzA0MDQwNCIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDE0MTQiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(122,122,122,0.75) 0%, rgba(34,34,34,0.75) 50%, rgba(4,4,4,0.75) 50%, rgba(20,20,20,0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,122,122,0.75)), color-stop(50%,rgba(34,34,34,0.75)), color-stop(51%,rgba(4,4,4,0.75)), color-stop(100%,rgba(20,20,20,0.75)));
	background: -webkit-linear-gradient(top,  rgba(122,122,122,0.75) 0%,rgba(34,34,34,0.75) 50%,rgba(4,4,4,0.75) 50%,rgba(20,20,20,0.75) 100%);
	background: -o-linear-gradient(top,  rgba(122,122,122,0.75) 0%,rgba(34,34,34,0.75) 50%,rgba(4,4,4,0.75) 50%,rgba(20,20,20,0.75) 100%);
	background: -ms-linear-gradient(top,  rgba(122,122,122,0.75) 0%,rgba(34,34,34,0.75) 50%,rgba(4,4,4,0.75) 50%,rgba(20,20,20,0.75) 100%);
	background: linear-gradient(to bottom,  rgba(122,122,122,0.75) 0%,rgba(34,34,34,0.75) 50%,rgba(4,4,4,0.75) 50%,rgba(20,20,20,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf7a7a7a', endColorstr='#bf141414',GradientType=0 );
}

.callStatus{
	padding:0px 10px;
	height:97px;
	text-align:center;
	box-shadow:inset 0px 1px 0px #bbb, 0px 1px 0px #000;
	border-bottom:1px solid #777;
	border-radius:3px 3px 0px 0px;
	-moz-border-radius:3px 3px 0px 0px;
	-webkit-border-radius:3px 3px 0px 0px;
	-o-border-radius:3px 3px 0px 0px;
	-ms-border-radius:3px 3px 0px 0px;
}

.callStatus h1,
.callStatus h2{
	display:block;
	margin:0;
	padding:0;
	color:#fff;
	text-shadow:1px 1px 0px #000;
	text-align:center;
}

.callStatus h1{
	font:normal 30px/48px Arial, Helvetica, sans-serif;
}

.callStatus h2{
	font:normal 24px/48px Arial, Helvetica, sans-serif;
}

.callStatus h2.green{
	color:#0C0;
}

.callStatus h2.yellow{
	color:#FFC926;
}

.callStatus h2.red{
	color:#F00;
}

/* Call Header Under Minimized State */

.callWrapperminimized .callStatus,
.callWrapperminimized .callAction{
	display:block;
	background:none;
	float:left;
}

.callWrapperminimized .callStatus{
	padding:0px 0px 0px 10px;
	height:40px;
	text-align:center;
	border-bottom:none;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
	border-right:1px solid #292929;
	box-shadow:1px 0px 0px #636363;
	margin:0px 10px 0px 0px;
}

.callWrapperminimized .callStatus h1,
.callWrapperminimized .callStatus h2{
	display:block;
	margin:0 10px 0px 0px;
	padding:0;
	color:#fff;
	text-shadow:1px 1px 0px #000;
	float:left;
}

.callWrapperminimized .callStatus h1{
	font:normal 16px/40px Arial, Helvetica, sans-serif;
}

.callWrapperminimized .callStatus h2{
	font:italic normal 16px/40px Georgia, "Times New Roman", Times, serif;
}

.callStatus h2.green{
	color:#0C0;
}

.callStatus h2.yellow{
	color:#FFC926;
}

.callStatus h2.red{
	color:#F00;
}

/* Call Header Under Shaded State */

.callWrappershaded .callStatus,
.callWrappershaded .callAction{
	display:block;
	background:none;
	float:left;
}

.callWrappershaded .callStatus{
	padding:0px 0px 0px 5px;
	height:30px;
	text-align:center;
	border-bottom:none;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
	border-right:none;
	box-shadow:none;
	margin:0px 5px 0px 0px;
}

.callWrappershaded .callStatus h1,
.callWrappershaded .callStatus h2{
	display:block;
	margin:0 5px 0px 0px;
	padding:0;
	color:#fff;
	text-shadow:1px 1px 0px #000;
	float:left;
}

.callWrappershaded .callStatus h1{
	font:normal 12px/30px Arial, Helvetica, sans-serif;
}

.callWrappershaded .callStatus h2{
	font:italic normal 12px/30px Georgia, "Times New Roman", Times, serif;
	width:18px;
	height:30px;
	text-indent:-500px;
	background-image:url(../call_images/status_sprite_shade.png);
	background-repeat:no-repeat;
}

.callWrappershaded .callStatus h2.green{
	background-position:left center;
}

.callWrappershaded .callStatus h2.yellow{
	background-position:center center;
}

.callWrappershaded .callStatus h2.red{
	background-position:right center;
}

/* Call Details Maximized State */

.callDetail{
	display:block;
	height:280px;
	padding:10px 15px;
	position:relative;
	
}

.callDetail h3{
	display:block;
	margin:0px;
	padding:0;
	font:normal 24px/32px Arial, Helvetica, sans-serif;
	color:#333;
}

.callDetail .input{
	display:block;
	margin:15px 0px;
	position:absolute;
	bottom:0;
	width:415px;
}

.callDetail .input:after{
	display:block;
	clear:both;
	height:0;
	margin:0;
	padding:0;
	visibility:hidden;
	content:"";
}

.callDetail .input label{
	display:block;
	font:normal 18px/30px Arial, Helvetica, sans-serif;
	color:#333;
}

.callDetail .input textarea{
	display:inline-block;
	float:left;
	width:280px;
	height:60px;
	background:#fff;
	border:1px solid #444;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	box-shadow:inset 1px 1px 4px #aaa;
	padding:5px;
}

.callDetail .input textarea:focus{
	box-shadow:none;	
}

.callDetail .input input[type=button],
.callDetail .input input[type=submit],
.callDetail .input button{
	display:inline-block;
	float:right;
	width:120px;
	height:44px;
	background:url(../call_images/button.png) no-repeat left top transparent;
	border:none;
	padding:0;
	margin:28px 0px 0px;
	font:bold 20px Arial, Helvetica, sans-serif;
	color:#616A74;
	text-shadow:1px 1px 0px #fff;
}

.callDetail .input input[type=button]:hover,
.callDetail .input input[type=submit]:hover,
.callDetail .input button:hover{
	background-position:left bottom;
	color:#fff;
	text-shadow:1px 1px 0px #004010;
	cursor:pointer;
}

/* Call Details Minimized State */

.callWrapperminimized .callDetail{
	display:block;
	height:40px;
	padding:0px;
	position:relative;
	float:left;
	border-right:1px solid #292929;
	box-shadow:1px 0px 0px #636363;
	margin:0px 15px 0px 0px;
}

.callWrapperminimized .callDetail h3{
	display:block;
	margin:0px 15px 0px 0px;
	padding:0;
	font:normal 16px/40px Arial, Helvetica, sans-serif;
	color:#fff;
	float:left;
}

.callWrapperminimized .callDetail h3#callerPhone{
	background:url(../call_images/outgoingCall.png) no-repeat left 13px transparent;
	padding:0px 0px 0px 25px;
}



/* Call Details Shaded State */

.callWrappershaded .callDetail{
	display:block;
	height:30px;
	padding:0px;
	position:relative;
	float:left;
	border-right:none;
	box-shadow:none;
	margin:0px 10px 0px 0px;
}

.callWrappershaded .callDetail h3{
	display:block;
	margin:0px 10px 0px 0px;
	padding:0;
	font:normal 12px/30px Arial, Helvetica, sans-serif;
	color:#fff;
	float:left;
}

.callWrappershaded .callDetail h3#callerPhone{
	background:url(../call_images/outgoingCall_shade.png) no-repeat left 8px transparent;
	padding:0px 0px 0px 18px;
	margin:0px;
}

/* Call Actions Maximized State */

.callAction{
	height:75px;
	padding:2px 15px;
	box-shadow:0px -1px 0px 000, inset 0px -1px 0px #444;
	border-top:1px solid #aaa;
	border-radius:0px 0px 3px 3px;
	-moz-border-radius:0px 0px 3px 3px;
	-webkit-border-radius:0px 0px 3px 3px;
	-o-border-radius:0px 0px 3px 3px;
	-ms-border-radius:0px 0px 3px 3px;
}

.callAction input[type=button],
.callAction input[type=submit],
.callAction button{
	display:inline-block;
	float:left;
	height:66px;
	padding:0;
	margin:0px 20px 0px 0px;
	background-image:url(../call_images/btns_sprite.png);
	background-color:transparent;
	background-repeat:no-repeat;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	width:168px;
	cursor:pointer;
}

.callAction input[type=button].accept,
.callAction input[type=submit].accept,
.callAction button.accept{
	background-position:top left;
}

.callAction input[type=button].accept:hover,
.callAction input[type=submit].accept:hover,
.callAction button.accept:hover{
	background-position:bottom left;
}

.callAction input[type=button].reject,
.callAction input[type=submit].reject,
.callAction button.accept{
	background-position:top right;
}

.callAction input[type=button].reject:hover,
.callAction input[type=submit].reject:hover,
.callAction button.accept:hover{
	background-position:bottom right;
}


.callAction input[type=button].endCall,
.callAction input[type=submit].endCall,
.callAction button.endCall{
	width:356px;
	//display:none;
	background:url(../call_images/endCall.png) no-repeat top left;
}

.callAction input[type=button].endCall:hover,
.callAction input[type=submit].endCall:hover,
.callAction button.endCall:hover{
	background-position:bottom left;
}

.callAction input[type=button].outboundDisabled,
.callAction input[type=submit].outboundDisabled,
.callAction button.outboundDisabled{
	width:356px;
	background:url(../call_images/outboundDisabled.png) no-repeat top left;
}

.callAction input[type=button].outboundEnabled,
.callAction input[type=submit].outboundEnabled,
.callAction button.outboundEnabled{
	width:356px;
	background:url(../call_images/outboundEnabled.png) no-repeat top left;
}

.callAction input[type=button].outboundEnabled:hover,
.callAction input[type=submit].outboundEnabled:hover,
.callAction button.outboundEnabled:hover{
	background-position:bottom left;
}

/* Call Actions Minimized State */

.callWrapperminimized .callAction{
	height:32px;
	padding:4px 0px;
	float:left;
	box-shadow:none;
	border-top:none;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
}

.callWrapperminimized .callAction input[type=button],
.callWrapperminimized .callAction input[type=submit],
.callWrapperminimized .callAction button{
	display:inline-block;
	float:left;
	height:32px;
	padding:0;
	margin:0px 10px 0px 0px;
	background-image:url(../call_images/btns_sprite_min.jpg);
	background-color:transparent;
	background-repeat:no-repeat;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	width:102px;
	cursor:pointer;
}

.callWrapperminimized .callAction input[type=button].accept,
.callWrapperminimized .callAction input[type=submit].accept,
.callWrapperminimized .callAction button.accept{
	background-position:top left;
}

.callWrapperminimized .callAction input[type=button].accept:hover,
.callWrapperminimized .callAction input[type=submit].accept:hover,
.callWrapperminimized .callAction button.accept:hover{
	background-position:bottom left;
}

.callWrapperminimized .callAction input[type=button].reject,
.callWrapperminimized .callAction input[type=submit].reject,
.callWrapperminimized .callAction button.accept{
	background-position:top right;
}

.callWrapperminimized .callAction input[type=button].reject:hover,
.callWrapperminimized .callAction input[type=submit].reject:hover,
.callWrapperminimized .callAction button.accept:hover{
	background-position:bottom right;
}


.callWrapperminimized .callAction input[type=button].endCall,
.callWrapperminimized .callAction input[type=submit].endCall,
.callWrapperminimized .callAction button.endCall{
	width:122px;
	background:url(../call_images/endCall_min.png) no-repeat top left;
}

.callWrapperminimized .callAction input[type=button].endCall:hover,
.callWrapperminimized .callAction input[type=submit].endCall:hover,
.callWrapperminimized .callAction button.endCall:hover{
	background-position:bottom left;
}

.callWrapperminimized .callAction input[type=button].outboundDisabled,
.callWrapperminimized .callAction input[type=submit].outboundDisabled,
.callWrapperminimized .callAction button.outboundDisabled{
	width:122px;
	background:url(../call_images/outboundDisabled_min.png) no-repeat top left;
}

.callWrapperminimized .callAction input[type=button].outboundEnabled,
.callWrapperminimized .callAction input[type=submit].outboundEnabled,
.callWrapperminimized .callAction button.outboundEnabled{
	width:122px;
	background:url(../call_images/outboundEnabled_min.png) no-repeat top left;
}

.callWrapperminimized .callAction input[type=button].outboundEnabled:hover,
.callWrapperminimized .callAction input[type=submit].outboundEnabled:hover,
.callWrapperminimized .callAction button.outboundEnabled:hover{
	background-position:bottom left;
}

/* Call Actions Shaded State */

.callWrappershaded .callAction{
	height:22px;
	padding:4px 0px;
	float:left;
	box-shadow:none;
	border-top:none;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
}

.callWrappershaded .callAction input[type=button],
.callWrappershaded .callAction input[type=submit],
.callWrappershaded .callAction button{
	display:inline-block;
	float:left;
	height:22px;
	padding:0;
	margin:0px 5px 0px 0px;
	background-image:url(../call_images/btns_sprite_shade.png);
	background-color:transparent;
	background-repeat:no-repeat;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	width:31px;
	cursor:pointer;
}

.callWrappershaded .callAction input[type=button].accept,
.callWrappershaded .callAction input[type=submit].accept,
.callWrappershaded .callAction button.accept{
	background-position:top left;
}

.callWrappershaded .callAction input[type=button].accept:hover,
.callWrappershaded .callAction input[type=submit].accept:hover,
.callWrappershaded .callAction button.accept:hover{
	background-position:bottom left;
}

.callWrappershaded .callAction input[type=button].reject,
.callWrappershaded .callAction input[type=submit].reject,
.callWrappershaded .callAction button.accept{
	background-position:top right;
}

.callWrappershaded .callAction input[type=button].reject:hover,
.callWrappershaded .callAction input[type=submit].reject:hover,
.callWrappershaded .callAction button.accept:hover{
	background-position:bottom right;
}


.callWrappershaded .callAction input[type=button].endCall,
.callWrappershaded .callAction input[type=submit].endCall,
.callWrappershaded .callAction button.endCall{
	width:31px;
	background-position:top right;
}

.callWrappershaded .callAction input[type=button].endCall:hover,
.callWrappershaded .callAction input[type=submit].endCall:hover,
.callWrappershaded .callAction button.endCall:hover{
	background-position:bottom right;
}

.callWrappershaded .callAction input[type=button].outboundDisabled,
.callWrappershaded .callAction input[type=submit].outboundDisabled,
.callWrappershaded .callAction button.outboundDisabled{
	width:31px;
	background:url(../call_images/outboundDisabled_shade.png) no-repeat top left;
}

.callWrappershaded .callAction input[type=button].outboundEnabled,
.callWrappershaded .callAction input[type=submit].outboundEnabled,
.callWrappershaded .callAction button.outboundEnabled{
	width:31px;
	background-position:top left;
}

.callWrappershaded .callAction input[type=button].outboundEnabled:hover,
.callWrappershaded .callAction input[type=submit].outboundEnabled:hover,
.callWrappershaded .callAction button.outboundEnabled:hover{
	background-position:bottom left;
}

/* More Actions Maximized State */
.moreActions{
	display:block;
	float:right;
	width:52px;
	height:66px;
	background-image:url(../call_images/moreActions.png);
	background-repeat: no-repeat;
	background-position:left top;
	background-color: transparent;
	cursor:pointer;
}

.moreActions.enable{
	background-position:left bottom;
}

.actionBox{
	display:block;
	background:url(../call_images/actionBox.png) no-repeat left top;
	width:402px;
	height:128px;
	padding:6px 3px 3px;
	position:absolute;
	z-index:3;
	margin:52px 0px 0px 17px;
}

.actionBox a{
	display:inline-block;
	float:left;
	height:50px;
	width:198px;
	text-align:center;
	padding:77px 0px 0px;
	font:bold 18px/50px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	text-shadow:1px 1px 0px #000;
	background-position:center 16px !important;
	background:no-repeat;
	background-color:transparent;
}

.actionBox a.contactDetailLink{
	background-image:url(../call_images/user-detail.png);
	border-right:1px solid #000;
	box-shadow:1px 0px 0px #333;
}

.actionBox a.callDetailLink{
	background-image:url(../call_images/call-detail.png);
}

.actionBox img#call_contact_div{
	height:30px;
	width:30px;	
	float:right;
	cursor:pointer;
	margin: -20px -15px -30px 0px;
}

/* More Actions Minimized State */

.callWrapperminimized .moreActions{
	float:left;
	width:auto;
	height:32px;
	background:none;
	cursor:default;
	background-image:url(../call_images/moreActions_min.png);
	background-repeat: no-repeat;
	background-position:left top;
	background-color: transparent;
	padding:0px 0px 0px 18px;
}

.callWrapperminimized .moreActions.enable{
	background-position:left bottom;
}

.callWrapperminimized .moreActions.enable.collapse{
	background-position:left center;
	cursor:pointer;
}

.callWrapperminimized .actionBox{
	display:block;
	background:none;
	width:auto;
	height:32px;
	padding:0;
	position:static;
	margin:0px;
}

.callWrapperminimized .actionBox a{
	display:inline-block;
	float:left;
	width:auto;
	height:32px;
	text-align:center;
	padding:0px 0px 0px 25px;
	font:normal 16px/32px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	text-shadow:1px 1px 0px #000;
	background-position:left center !important;
	background:no-repeat;
	background-color:transparent;
	margin:0px 0px 0px 15px;
}

.callWrapperminimized .actionBox a.contactDetailLink{
	background-image:url(../call_images/user-detail_min.png);
	border-right:none;
	box-shadow:none;
}

.callWrapperminimized .actionBox a.callDetailLink{
	background-image:url(../call_images/call-detail_min.png);
}

/* More Actions Shaded State */

.callWrappershaded .moreActions{
	float:left;
	width:auto;
	height:22px;
	background:none;
	cursor:default;
	background-image:url(../call_images/moreActions_shade.jpg);
	background-repeat: no-repeat;
	background-position:left top;
	background-color: transparent;
	padding:0px 0px 0px 18px;
}

.callWrappershaded .moreActions.enable{
	background-position:left bottom;
}

.callWrappershaded .moreActions.enable.collapse{
	background-position:left center;
	cursor:pointer;
}

.callWrappershaded .actionBox{
	display:block;
	background:none;
	width:auto;
	height:32px;
	padding:0;
	position:static;
	margin:0px;
}

.callWrappershaded .actionBox a{
	display:inline-block;
	float:left;
	width:16px;
	height:22px;
	text-align:center;
	padding:0px 0px 0px 0px;
	font:normal 16px/22 Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	text-shadow:1px 1px 0px #000;
	background-position:left center !important;
	background:no-repeat;
	background-color:transparent;
	margin:0px 0px 0px 10px;
	text-indent:-1000px;
}

.callWrappershaded .actionBox a.contactDetailLink{
	background-image:url(../call_images/user-detail_shade.png);
	border-right:none;
	box-shadow:none;
}

.callWrappershaded .actionBox a.callDetailLink{
	background-image:url(../call_images/call-detail_shade.png);
}

.windowActions input[type=button]#minimizeOperationInbound{
	background-position:left top;
}

.windowActions input[type=button]#shadeOperationInbound{
	background-position:center top;
}

.windowActions input[type=button]#closeOperationInbound{
	background-position:right top;
}

.windowActions input[type=button]#maximizeOperationInbound{
	background-position:-22px top;
}

.windowActions input[type=button]#shadeMaxOperationInbound{
	background-position:-66px top;
}

.windowActions input[type=button]#minimizeOperationInbound:hover{
	background-position:left bottom;
}

.windowActions input[type=button]#shadeOperationInbound:hover{
	background-position:center bottom;
}

.windowActions input[type=button]#closeOperationInbound:hover{
	background-position:right bottom;
}

.windowActions input[type=button]#maximizeOperationInbound:hover{
	background-position:-22px bottom;
}

.windowActions input[type=button]#shadeMaxOperationInbound:hover{
	background-position:-66px bottom;
}

/* Window Action Buttons Under Maximized State (SMS) */

.windowActionsSMS{
	display:block;
	float:right;
	margin:0px -12px 3px 0px;
	height:22px;
}

.windowActionsSMS input[type=button]{
	display:block;
	height:22px;
	width:22px;
	background-image:url(../call_images/windowActions.png);
	background-repeat:no-repeat;
	background-color:transparent;
	float:left;
	border:none;
	margin:0px 0px 0px 3px;
	cursor:pointer;
	padding:0;
}

.windowActionsSMS input[type=button]#minimizeOperationSMS{
	background-position:left top;
}

.windowActionsSMS input[type=button]#shadeOperationSMS{
	background-position:center top;
}

.windowActionsSMS input[type=button]#closeOperationSMS{
	background-position:right top;
}

.windowActionsSMS input[type=button]#maximizeOperationSMS{
	background-position:-22px top;
}

.windowActionsSMS input[type=button]#shadeMaxOperationSMS{
	background-position:-66px top;
}

.windowActionsSMS input[type=button]#minimizeOperationSMS:hover{
	background-position:left bottom;
}

.windowActionsSMS input[type=button]#shadeOperationSMS:hover{
	background-position:center bottom;
}

.windowActionsSMS input[type=button]#closeOperationSMS:hover{
	background-position:right bottom;
}

.windowActionsSMS input[type=button]#maximizeOperationSMS:hover{
	background-position:-22px bottom;
}

.windowActionsSMS input[type=button]#shadeMaxOperationSMS:hover{
	background-position:-66px bottom;
}
/* SMS View */

.smsView{
	display:block;
	border-bottom:1px solid #999;
	box-shadow:0px 1px 0px #ddd;
	/*height:155px;*/
	/*height:255px;*/
	height:272px;
	margin-bottom:5px;
	padding-bottom:5px;
	overflow-y:auto;
	overflow-x:hidden;
}

.userSMS{
	display:block;
	padding:5px 10px;	
}

.userSMS .clear{
	display:block;
	clear:both;
}

.userSMS .chatBox{
	display:block;
	width:70%;
	float:right;
}

.userSMS .chatBox .topLeft{
	display:block;
	background:url(../call_images/green_topLeft.png) no-repeat left top transparent;
}

.userSMS .chatBox .topRight{
	display:block;
	background:url(../call_images/green_topRight.png) no-repeat right top transparent;
}

.userSMS .chatBox .bottomLeft{
	display:block;
	background:url(../call_images/green_bottomLeft.png) no-repeat left bottom transparent;
}

.userSMS .chatBox .bottomRight{
	display:block;
	background:url(../call_images/green_bottomRight.png) no-repeat right bottom transparent;
}

.userSMS .chatBox .bottomRight .topCenter{
	display:block;
	height:15px;
	margin-left:18px;
	margin-right:26px;
	background:url(../call_images/green_top.png) repeat-x left top;
}

.userSMS .chatBox .bottomRight .bottomCenter{
	display:block;
	height:19px;
	margin-left:18px;
	margin-right:26px;
	background:url(../call_images/green_bottom.png) repeat-x left top;
}

.userSMS .chatBox .bottomRight .leftCenter{
	display:block;
	padding-left:5px;
	background:url(../call_images/green_left.png) repeat-y left top transparent;
}

.userSMS .chatBox .bottomRight .leftCenter .rightCenter{
	display:block;
	padding-right:13px;
	background:url(../call_images/green_right.png) repeat-y right top transparent;
}

.userSMS .chatBox .bottomRight .leftCenter .rightCenter .contentCenter{
	display:block;
	background:#95d74a;
	padding:0px 8px;
}

.clientSMS{
	display:block;
	padding:5px 10px;
}

.clientSMS .clear{
	display:block;
	clear:both;
}

.clientSMS .chatBox{
	display:block;
	width:70%;
	float:left;
}

.clientSMS .chatBox .topLeft{
	display:block;
	background:url(../call_images/gray_topLeft.png) no-repeat left top transparent;
}

.clientSMS .chatBox .topRight{
	display:block;
	background:url(../call_images/gray_topRight.png) no-repeat right top transparent;
}

.clientSMS .chatBox .bottomLeft{
	display:block;
	background:url(../call_images/gray_bottomLeft.png) no-repeat left bottom transparent;
}

.clientSMS .chatBox .bottomRight{
	display:block;
	background:url(../call_images/gray_bottomRight.png) no-repeat right bottom transparent;
}

.clientSMS .chatBox .bottomRight .topCenter{
	display:block;
	height:15px;
	margin-left:26px;
	margin-right:18px;
	background:url(../call_images/gray_top.png) repeat-x left top;
}

.clientSMS .chatBox .bottomRight .bottomCenter{
	display:block;
	height:19px;
	margin-left:26px;
	margin-right:18px;
	background:url(../call_images/gray_bottom.png) repeat-x left top;
}

.clientSMS .chatBox .bottomRight .leftCenter{
	display:block;
	padding-left:13px;
	background:url(../call_images/gray_left.png) repeat-y left top transparent;
}

.clientSMS .chatBox .bottomRight .leftCenter .rightCenter{
	display:block;
	padding-right:5px;
	background:url(../call_images/gray_right.png) repeat-y right top transparent;
}

.clientSMS .chatBox .bottomRight .leftCenter .rightCenter .contentCenter{
	display:block;
	background:#d6d6d6;
	padding:0px 8px;
}

.userSMS .chatBox .bottomRight .leftCenter .rightCenter .contentCenter p,
.clientSMS .chatBox .bottomRight .leftCenter .rightCenter .contentCenter p{
	margin:0;
	text-align:left;
	font:normal 14px/18px Arial, Helvetica, sans-serif;
	color:#000;
}

.userSMS .chatBox span,
.clientSMS .chatBox span{
	display:block;
	font:bold 13px/16px Arial, Helvetica, sans-serif;
	color:#828282;
	/*text-align:left;*/
	margin-left:30px;	
}

.userSMS .chatBox span{
	text-align:right;
	margin-right:30px;
}

.clientSMS .chatBox span{
	text-align:left;
	margin-right:30px;
}

.clientImage{
	width:34px;
	height:44px;
	float:left;
	position:relative;
}

.clientImage img{
	width:34px;
	height:44px;
	margin-right:5px;
}

.smsCompose{
	display:block;
	height:50px;
}

.smsText{
	display:block;
	float:left;
	/*height:80px;*/
	height:50px;
	width:310px;
	padding:0px;
	margin-right:10px;
	box-shadow:inset 0px 2px 4px rgba(0, 0, 0, 0.1);
	background:#fff;
	border:1px solid #777;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
}

.smsText textarea{
	width:310px;
	/*height:80px;*/
	height:50px;
	border:none;
	background:none;
	resize:none;
}

.smsCompose input[type=button]{
	background: #6db3f2;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkYjNmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU0YTNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzM2OTBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTY5ZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 50%, #1e69de 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(50%,#3690f0), color-stop(100%,#1e69de));
	background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 50%,#1e69de 100%);
	background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 50%,#1e69de 100%);
	background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 50%,#1e69de 100%);
	background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 50%,#1e69de 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
	border:1px solid #1e69de;
	width:84px;
	/*height:90px;*/
	height:50px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	padding:0;
	margin:0;
	font:normal 20px Arial, Helvetica, sans-serif;
	color:#fff;
	text-shadow:1px 1px 0px #06F;
}

.smsCompose input[type=button]:hover{
	background: #6db3f2;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkYjNmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTY5ZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #6db3f2 0%, #1e69de 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(100%,#1e69de));
	background: -webkit-linear-gradient(top,  #6db3f2 0%,#1e69de 100%);
	background: -o-linear-gradient(top,  #6db3f2 0%,#1e69de 100%);
	background: -ms-linear-gradient(top,  #6db3f2 0%,#1e69de 100%);
	background: linear-gradient(to bottom,  #6db3f2 0%,#1e69de 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
	cursor:pointer;
}

/*scroll*/
.contents{display:block; position:absolute; width:375px; height:229px; z-index:3000; margin-top:0px; margin-left:26px;}
		.contentDetail{
	display: block;
	position: absolute;
	width: 375px;
	height: 235px;
	overflow: hidden;
	left: 2px;
	top: 10px;
}
div#scrollbar1, div#scrollbar2, div#scrollbar3{display:block;}
div.scrollbar{position:relative; float:right; display:block; width:8px;  font-size:1px;  /* so no gap or misplacement due to image vertical alignment */ }
div.track{  position:absolute; left:0; top:0px;  width:8px; height:170px;  background: #717172;  }
div.dragBar{  position:absolute; left:0px; top:0px; cursor:pointer; width:8px; height:10px;  background-color:#FFF;  }  


div.scrollbar, div.track, div.dragBar{  -moz-user-select: none;    -khtml-user-select: none;}

/*Extensions Scroll*/

div#extscroll {
    display:block; /* initially display:none; to hide from incapable */
    }

div#extWindow{ 
    position:relative;
    padding:0;
	height:389px;
    overflow:hidden;
	background: #999999;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #999999 0%, #e0e0e0 20%, #ffffff 40%, #ffffff 60%, #e0e0e0 80%, #999999 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(20%,#e0e0e0), color-stop(40%,#ffffff), color-stop(60%,#ffffff), color-stop(80%,#e0e0e0), color-stop(100%,#999999));
	background: -webkit-linear-gradient(top,  #999999 0%,#e0e0e0 20%,#ffffff 40%,#ffffff 60%,#e0e0e0 80%,#999999 100%);
	background: -o-linear-gradient(top,  #999999 0%,#e0e0e0 20%,#ffffff 40%,#ffffff 60%,#e0e0e0 80%,#999999 100%);
	background: -ms-linear-gradient(top,  #999999 0%,#e0e0e0 20%,#ffffff 40%,#ffffff 60%,#e0e0e0 80%,#999999 100%);
	background: linear-gradient(to bottom,  #999999 0%,#e0e0e0 20%,#ffffff 40%,#ffffff 60%,#e0e0e0 80%,#999999 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#999999',GradientType=0 );
	border-bottom:1px solid #333;
}

.extWindow{
	
}
    
div#extscroll { 
  position:absolute;
  width:10px;
  height:385px; 
  font-size:1px;  /* so no gap or misplacement due to image vertical alignment */
  top:2px;
  right:2px;
  }
div#track { 
  position:absolute;
  left:0;
  top:0;
  width:10px;
  height:385px;
  background:rgba(0, 0, 0, 0.8);
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  }
div#dragBar {
  position:absolute;
  left:1px;
  top:1px;
  width:8px;
  height:20px;
  background:rgba(255, 255, 255, 0.5);
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  -ms-border-radius:4px;
  }  

/* for safari, to prevent selection problem  */
div#extscroll, div#track, div#dragBar{
    -moz-user-select: none;
    -khtml-user-select: none;
}
